/* Import Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Import Another CSS File */
@import url("./utilities.css");

/* Color Picking */
:root {
  --pure: #ffffff;
  --dark: #111111;
  --ternary: #666666;
  --orange: #fea301;
  --sky-blue: #01acfd;
  --light-blue: #05d4df;
  --electric-purple: #8700ff;
  --yellow-green: #95b226;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* Google Fonts Styles */
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

marquee {
  font-size: 2rem;
  font-weight: 700;
  color: var(--sky-blue);
}
marquee span {
  font-size: 2rem;
  font-weight: 700;
}
marquee .one {
  color: var(--orange);
}
marquee .two {
  color: var(--electric-purple);
}

/* header styles */
/* navbar styles */
#navbar {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.left {
  align-items: center;
  gap: 1rem;
}
#logo-name {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--dark);
}
.nav-links {
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--orange);
}
.nav-links li:nth-child(2) .nav-link {
  color: var(--sky-blue);
}
.nav-links li:nth-child(3) .nav-link {
  color: var(--light-blue);
}
.nav-links li:nth-child(4) .nav-link {
  color: var(--electric-purple);
}
.navbar-btn {
  background-color: var(--orange);
  font-weight: 600;
}
#hamburger-btn {
  font-size: 2rem;
  color: var(--dark);
  display: none;
}

/* hero styles */
#hero {
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  padding-right: 2rem;
}
.hero-tittle {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  color: var(--dark);
}
.hero-tittle span {
  font-weight: 700;
}
.hero-description {
  font-size: 1.4rem;
  color: var(--dark);
  margin: 1.5rem 0;
}
.hero-img {
  width: 100%;
}

/* main styles */
/* curriculum styles */
#curriculum {
  background-image: url("../assets/bg.png");
  margin-top: 4rem;
  text-align: center;
}
.curriculum-card-wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.curriculum-card {
  border-radius: 20px;
  padding: 2.5rem;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}
.card-1 {
  background: linear-gradient(#def5ff, #ffffff);
}
.card-2 {
  background: linear-gradient(#fff4dc, #ffffff);
}
.card-3 {
  background: linear-gradient(#f2e8ff, #ffffff);
}
.curriculum-card-tittle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--dark);
  margin: 2rem 0;
}
.curriculum-card-description {
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 2rem;
  color: var(--ternary);
}
.curriculum-card-btn {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--sky-blue);
}
.curriculum-btn-2 {
  color: var(--orange);
}
.curriculum-btn-3 {
  color: var(--electric-purple);
}
.pagination-btn {
  margin-top: 5rem;
}
.pagination-btn a {
  color: var(--pure);
  background-color: var(--orange);
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 1rem 1.4rem;
  border-radius: 50%;
  margin: 0.5rem;
}

/* stories styles */
#stories {
  margin-top: 8rem;
  background-image: url("../assets/bg.png");
  text-align: center;
  padding-bottom: 3rem;
}
.stories-card-wrapper {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  gap: 1.5rem;
}
.stories-card {
  border-radius: 16px;
  background-color: var(--pure);
}
.stories-card img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.story-1 {
  grid-row: span 2;
}
.story-1-tittle {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--dark);
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.story-1-description {
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--ternary);
}
.stories-card-img {
  position: relative;
}
.stories-card-date {
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--pure);
  background-color: var(--light-blue);
  padding: 0.8rem 1.5rem;
  border-radius: 48px;
  position: absolute;
  left: 2rem;
  bottom: -1.5rem;
}
.date-2 {
  background-color: var(--yellow-green);
}
.date-3 {
  background-color: var(--electric-purple);
}
.date-4 {
  background-color: var(--orange);
}
.date-5 {
  background-color: var(--sky-blue);
}
.stories-card-content {
  padding: 2rem;
  text-align: start;
}
.stories-card-tittle {
  font-style: 1rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--dark);
  margin-top: 1rem;
}

/* footer styles */
footer {
  background-color: var(--sky-blue);
  color: var(--pure);
  padding: 9rem 0;
}
#footer-section {
  justify-content: space-between;
}
.first {
  max-width: 400px;
}
.footer-brand {
  align-items: center;
  gap: 1rem;
}
.footer-brand h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 32px;
}
.first p {
  font-size: 1.4rem;
  margin-top: 2rem;
}
.second h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.second li {
  list-style: none;
  margin-top: 1rem;
}
.second li a {
  text-decoration: none;
  color: var(--pure);
  font-size: 1.4rem;
  font-weight: 500;
}
.third h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.third img {
  cursor: pointer;
}

/* Responsive Media Query For Small Device */
@media screen and (max-width: 576px) {
  /* utilities css*/
  .section-tittle {
    font-size: 1.5rem;
  }
  .btn-primary {
    font-size: 1rem;
    padding: 8px 40px;
  }
  /* media for navbar */
  #navbar {
    padding: 1rem;
    border-bottom: 2px solid var(--orange);
  }
  #logo-name {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .navbar-btn {
    display: none;
  }
  #hamburger-btn {
    display: block;
    cursor: pointer;
  }

  /* media for hero */
  #hero {
    margin-top: 1rem;
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
  .hero-content {
    margin-top: 1rem;
    text-align: center;
  }
  .hero-tittle {
    font-size: 2rem;
    line-height: 3rem;
  }
  .hero-description {
    font-size: 1rem;
  }

  /* media for curriculum */
  .curriculum-card-wrapper {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    margin-top: 1rem;
  }
  .pagination-btn {
    display: none;
  }

  /* media for stories */
  .stories-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }
  .story-1 {
    display: none;
  }
  .stories-card-date {
    font-size: 10px;
    padding: 5px 10px;
    bottom: -1rem;
  }
  .stories-card-content {
    padding: 1rem;
  }
  .stories-card-tittle {
    font-size: 10px;
    font-weight: 800;
  }

  /* media for footer */
  footer {
    padding: 5rem 0;
  }
  #footer-section {
    flex-direction: column;
    padding: 0 1.5rem;
  }
  .footer-brand h1 {
    font-size: 2rem;
  }
  .first p {
    font-size: 1rem;
  }
  .second {
    margin-top: 3rem;
  }
  .third {
    margin-top: 3rem;
  }
}
